
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
}
*{
    margin: 0px;
    padding: 0px;
    .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
}


body{
    width: 100%;
    height: max-content;
}
header{
    width: 100%;
    height: 100%;

}
nav{
    
    width: 100%;
    height: auto;
    position: fixed;
}
ul{
    
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo-p{
    color: white;
}
p{
    color: white;
    font-size: xx-large;
    padding: 5px 10px;
}
ul div{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px 10px;
}
ul div li,ul div li a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: normal;
}
.HomeBanner{
    width: 100%;
    height: max-content;
}
.Banner{
    width: 100%;
    height: 100vh;
    background: url(./images/home_banner_1.webp) no-repeat;
    background-size: cover;
}
.Banner div{
    align-items: center;
    position: relative;
    top: 10%;
}
center{
    position: relative;
    top: 10%;
}
h1{
    color: white;
    font-family: "Poppins", sans-serif;
}
.hm-txt, .hm-txt span{
    color: white;
    text-align: center;
    font-size: xx-large;
    font-weight: lighter;
    font-family: "Poppins", sans-serif;
}
span{
    color: white;
    font-size: small;
    text-align: center;
}
.homebtn1{
    width: 120px;
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: none;
    font-size: medium;
    font-family: "Poppins", sans-serif;
}
.homebtn1:hover{
    background-color: black;
    color: white;
}

.keypoints{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 15px;
   margin-top: 20%;
}
.keypoints div p{
    color: white;
}
.s1pro_slider{
    width: 100%;
    height: max-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}

.heading{
    position: relative;
    top: 5px;
    left: 5%;
    padding: 5% 2px;
    color: black;
    font-size: 50px;
}

    

.image-slider{
    gap: 20px;
}
.img-container{
    width:250px;
    height: 450;
    border-radius: 5px;
    
}
.img-container img{
    width: 100%;
    height: 450px;
}
.img-container:hover{
    width: 450px;
    height: 450px;
    transition: ease-in-out 0.8s;
}
.img-text{
    display: ne;
}
/* ----image slider-------- */

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
  }
  
  .slide {
    flex: 0 0 auto;
    width: 100%;
    transition: transform 0.5s ease;
  }
  
  .slide img {
    width: 100%;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
.mobile-note{
    display: none;
}
.image-slider div p{
    color: black;
    font-size: smaller;
    position: relative;
    top: -20%;
}
.Design{
    width: 100%;
    height: max-content;
    padding: 5% 10px;
}
.title{
    display: flex;
    
    justify-content: start;
    gap: 30px;
}
.title li{
    list-style: none;
    font-size: xx-large;
}
.Design-outer{
    width: 100%;
    height: auto;

}
.Design-outer h1{
    color: black;
    
}
.Design-outer p{
    color: rgb(88, 83, 83);
    font-size: medium;
    padding:  5px 10%;
}

.Design-img{
    display: flex;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5% 15%;
    gap: 15px;
}
.Design-img div{
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
.Design-img div img{
    width: 100%;
    height: 100%;
    position: relative;
    top: -25%;
    z-index: -2;
}
.item-5{
    flex: 1;
}

.item-5 img{
    
   object-fit: cover;
}
.Design-img div p{
    font-size: x-large;
    color: black;
    font-weight: bold;
}
.Design-img div p span{
    color: black;

}
.performance{
    width: 100%;
    height: max-content;


}
.performance h1,p{
    color: black;
}
.performance p{
    font-size: medium;
    padding:  5px 10%;
    color: rgb(39, 34, 34);
}
.performance-img{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5% 10%;
}
.performance-img div{
    width: 300px;
    height: 400px;
    border-radius: 10px;

}
.performance-img div img{
    position: relative;
    top: -23%;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.performance div p{
    font-size: x-large;
    font-weight: bold;
}
.performance div p span{
    color: black;
}
.technology h1,p{
    color: black;

}
.technology p{
    font-size: medium;
    padding:5px 10% ;
}
.technology-img{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5% 10%;
}
.technology-img div{
    width: 300px;
    height: 400px;
    border-radius: 10px;

}
.technology-img div img{
    position: relative;
    top: -25%;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.technology-img div p{
    font-size: x-large;
    font-weight: bold;
}
.technology-img div p span{
    color: black;
}
.color-container{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
}
.color-container1{
    width: 40%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.color-container1 h1{
    color: black;
    font-size: 50px;
}
.color-picker {
    display: flex;
    gap: 10px;
   
}
.color-picker div{
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
}
.colors-note{
    color: red;
    font-size: 25px;
}
#color1{
    background-color: black;
    color: white;
}
#color2{
    background-color: white;
    color: black;
}
#color3{
    background-color: blue;
    color: white;
}
#color4{
    background-color: rgb(5, 5, 53);
    color: white;
}
#color5{
    background-color: rgb(40, 40, 122);
    color: white;
}
.color-img{
    display: flex;
    overflow: hidden;
    align-items: center;
}
.specic{
    width: 100%;
    height: max-content;
    background-color: black;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
}
table{
    width: 100%;
}
table,tr,td{
    border: 1px solid rgb(117, 104, 104);
    border-collapse: collapse;
    padding: 20px 10px;
    color: white;
    font-size: x-large;

    text-align: left;
   
}
.price-h1{
    color: black;
    padding: 5%;
}
.price-container{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    padding: 5% 10%;

}
select{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.price-img{
    width: 40%;

}
.price-img img{
    width: 100%;
    height: 100%;
}
.price-detial{
    width: 40%;
    padding: 5px 10px;
    background:rgb(231, 231, 231);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(212, 166, 166);
}
.price-detial p{
 font-size:medium ;
 float: left;
}
.price-detial h2{
    color: red;
    float: right;
}
.price-detial label{
    font-size: normal;
    color: black;
    font-weight: bold;
}
.price-detial span{
    color: rgb(51, 48, 48);
    
}
.price-btn{
    float: right;
    background-color: black;
    color: white;
    font-size: medium;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.service-container{
    width: 100%;
    height: max-content;
    padding: 5% 10%;
}
.service-container h1{
    color: green;
    font-size: 50px;
}
.service-items{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    
}
.service-items div{
    width: 30%;
    height: 300px;
    background:rgb(231, 231, 231);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(193, 217, 233);
}
.service-items div img{
    width: 100%;
    height: 100%;
}
.service-items div p{
    color: rgb(82, 77, 77);
    font-size: small;
    
    text-align: left;
}
.service-items div a{
    text-decoration: none;
    color: green;
}
.service-list {
    width: 100%;
    height: max-content;
    padding: 10%;
    display: flex;
    justify-content: space-around;
}
.service-list div{
    padding: 5px 10px;
    border: 1px solid blueviolet;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
}
.charge-container{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    background-color: rgb(241, 239, 236);

}
.charge-container div{
    width: 40%;
    height: max-content;
    display: flex;
   flex-direction: column;
    border-radius: 10px;
   
    object-fit: cover;
    justify-content: space-around;

}
  .charge-container div h1{
    color: indigo;

  }
  .charge-container div span{
    color: black;
  font-size: large;
  }
  .charge-img{
    width: 40%;
    height: auto;
    padding: none;
  }
  .charge-img img{
    width: 100%;
    height: 100%;
   
  }
  .faq-container{
    width: 100%;
    height: max-content;
    display: flex;
    padding: 5%;

  }
  .faq-item1{
    width: 40%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
   justify-content: space-evenly;
  }
  .faq-item1 h1{
    font-size: 50px;
    color: rgb(238, 20, 20);
  }
  .faq-item1 p{
    font-size: 20px;
    text-align: left;
    
    color: rgb(24, 21, 21);
  }
  .reqbtn{
    width: 200px;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    
  }
  .reqbtn:hover{
    background-color: black;
    color: white;
  }
  .faq-item2{
    width: 50%;
    display: flex;
    justify-content: right;
    padding:5% 0px;
    flex-direction: column;
  }
  .ques{
    border: 1px solid black;
    font-size: 20px;
    width: 95%;
    text-align: left;
    border: none;
  }
  footer{
    padding: 5%;
    width: 100%;
    height: max-content;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }
  footer div li{
    list-style: none;
    color: rgb(218, 209, 209);
    font-weight: lighter;
  }
  footer div h3{
    color: white;
  }
  footer div li:hover{
    color: white;
    cursor: pointer;
  }
  footer div p{
    width: 500px;
  }
  .copyright{
    background-color: black;
    text-align: center;
    color: white;
  }
  .menubar{
    display: none;
  }
  @media screen and (max-width:900px) {
nav ul{
    width: 100%;
    height: 100vh;
    display: none;
    align-items: start;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.menubar{
    width: 100%;
    z-index: 100;
    position: fixed;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.menubar div{
    color: white;
    padding: 10px;
    font-size: x-large;
}
nav ul>a{
    display: none;
}
nav ul div{
    position: relative;
    top: 20%;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    background-color: black;
}
nav ul div li a{
    font-size: xx-large;
    color: white;
}
    .title{
        display: none;   }
   .Design-outer,.performance{
    flex-direction: column;
    width: 100%;
    padding: 10% 0px;
   }

   .Design-outer p{
    color: rgb(88, 83, 83);
    font-size: medium;
    padding:  5px 5%;
}

.Design-img,.performance-img,.technology-img{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: none;
    gap: 15px;
    overflow: scroll;
    overflow-y: hidden;
}
.Design-img div,.performance-img div,.technology-img div{
   
   width: 300px;
   height: 500px;
   border-radius: 30px;
   border: 1px solid black;
   
}
.Design-img div img,.performance-img div img,.technology-img div img{
    width: 300px;
    border-radius: 30px;
    object-fit: cover;
    height: 100%;
    position: relative;
    top: -20%;
   
}

.mobile-note{
    display: block;
    text-decoration: none;
    color: rgb(195, 20, 211);
    font-size: large;
}
.Design-img div p{
    font-size: x-large;
    color: black;
    font-weight: bold;
}
.Design-img div p span{
    color: black;

}

.color-container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
}
.color-container1{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.color-container1 h1{
    color: black;
    font-size: 50px;
}
.color-container1 li{
    list-style: none;
    font-size: x-large;
    text-align: left;
}
.color-container1 p{
    color: indigo;
    font-size: 25px;
}

.specic{
    width: 100%;
    height: max-content;
    background-color: black;
    padding: 10% 10%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    
}
table{
    width: 100%;
    overflow: scroll;
}
table,tr,td{
    border: 1px solid rgb(117, 104, 104);
    border-collapse: collapse;
    padding: 10px 30px;
    color: white;
    font-size: x-large;

    text-align: left;
   
}

.price-container{
    flex-direction: column;
    padding: 5% 10%;
    gap: 20px;

}
.price-h1{
 font-size: 50px;
}
.price-txt{
    font-size: 25px;
}
.price-img{
    width: 100%;

}

.price-detial{
    width: 100%;
    padding: 5%;
    
}
.price-detial p{
 font-size:medium ;
 float: left;
 text-align: left;
}
.price-detial h2{
    color: red;
    float: right;
    position: relative;
    top: -15%;
}
select{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
}


/* ---------service-container---- */
.service-container{
    width: 100%;
    height: max-content;
    padding: 5% 10%;

}
.service-container h1{
    color: green;
    font-size: 50px;
}
.service-items{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    
}
.service-items div{
    width: 100%;
    height: 450px;
    padding: 10px 10px;
   
}
.service-items div img{
    width: 100%;
    height: 300px;
}
.service-items div p{
    color: rgb(39, 38, 38);
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.service-list {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.service-list div{
    width: 250px;
    height: 60px;
    align-items: center;
    text-align: center;
    border: none;
    box-shadow: 0px 5px 5px rgb(110, 240, 121);
    background-color: rgb(121, 255, 161);
}
.charge-container{
    flex-wrap: wrap;
    flex-direction: column;
}
.charge-container div{
    width: 100%;
}
.charge-container div h1{
    font-size: 50px;
}
.charge-container div h4{
    text-align: center;
    font-size: 25px;
}
.charge-container div span{
    font-size: 25px
}

.faq-container{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;

  }
  .faq-item1{
    width: 100%;
    
  }
  .faq-item2{
    width: 100%;
    display: flex;
    justify-content: right;
    padding:5% 0px;
    flex-direction: column;
  }
  .ques{
    border: 1px solid black;
    font-size: 20px;
    width: 95%;
    text-align: left;
    border: none;
  }
  .faq-item2 div p{
    font-size: 25px;
  }
.logo{
    width: 80%;
    text-align: center;
    
}
footer div {
    width: 40%;
}
.slide{
    height: 200px;
}
.slide img{
    height: 200px;
    
}
.img-container{
    width: 400px;
}
  }
  .img-container p{
    font-size: 25px;
  }
